/*m27 structure INI*/
.wrapper {
    margin: 0px auto;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*m27 structure END*/