<sly data-sly-use.isbn="${'net.marco27.aem6.components.par.isbn.IsbnModel'}"/>
<div class="wrapper">
    <h2>ISBN Component</h2>
    <div class="row">
        <div class="column">
            <label>Insert ISBN Code</label>
            <input type="hidden" id="mappedUri" name="mappedUri" value="${isbn.mappedUri}"/>
            <input type="text" id="isbnCode" name="isbnCode" value="0061031321"/>
            <button id="isbnCodeSubmit" name="isbnCodeSubmit" value="Get ISBN Book"/>
        </div>
        <div class="column">
            <div id="getIsbnBookOutput"></div>
        </div>
    </div>
    <sly data-sly-list.bookMapKey="${isbn.isbnBooks}">
        <div class="row">
            <div class="column">
                <p>${bookMapKey}</p>
            </div>
            <div class="column">
                <p>${isbn.isbnBooks[bookMapKey]}</p>
            </div>
        </div>
    </sly>
</div>