<div class="wrapper">
    <h2>Base ClientLib Component - a FrontEnd Showcase"</h2>
    <div class="row">
        <div class="column">
            <h3>CLICK ME</h3>
        </div>
        <div class="column">
            <p>$('h3').click(function () {</p>
            <p>$('h3').text()</p>
        </div>
    </div>
    <div class="row">
        <div class="column">

        </div>
        <div class="column">
            <p></p>
        </div>
    </div>
</div>
<div class="cq-placeholder" data-emptytext="Base ClientLib component" data-sly-test.isEmpty="${!wcmmode.disabled && !properties.jcr:title}"></div>